.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  color: #293264;
  margin-bottom: 0px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 40px;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.button {
  position: relative;
  width: 190px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  font-family: Karla, sans-serif;
  color: #F5F7FB;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#check-answer{
  text-align: center;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  margin-bottom: 25px;
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #45528e;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 20px #828cbb;
}

.button:active:after {
  box-shadow: 0 0 0 0 #828cbb;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

.top-right {
  position: absolute;
  width: 500px;
  height: 350px;
  top: 0px;
  right: 0px;
  z-index: -100;
}

.bottom-left {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}

.trivia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
}

.bottom-border{
  border-bottom: 1px solid #DBDEF0;
  width: 400px;
  padding: 5px;
}

.option {
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
  border-radius: 12px;
  border: 0.794239px solid #4D5B9E;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  background: #F5F7FB;
  margin: 6px;
  padding: 7px;
  font-family: Karla, sans-serif;
  min-width: 65px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  background-color: #D6DBF5;
}

.question-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  max-width: 400px;
}

.correct {
  background-color: #94D7A2;
  border: 0;
}

.other {
  color: #7f84a2;
  border-color: #9499b2;
}

.incorrect {
  background-color: #F8BCBC;
  border: 0;
  color: #7f84a2;
}

.answer-count {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  margin-top: 20px;
}